openapi: 3.0.0
info:
  title: Player and Question API
  version: 1.0.0
servers:
  - url: https://main--aem-forms-martech--adobe-rnd.hlx.live/
paths:
  /players:
    get:
      summary: Get player details
      responses:
        '200':
          description: A list of players
          content:
            application/json:
              schema:
                type: object
                properties:
                  players:
                    type: array
                    items:
                      type: object
                      properties:
                        firstName:
                          type: string
                        lastName:
                          type: string
              example:
                players: 
                  - firstName: "Caleb"
                    lastName: "Williams"
                  - firstName: "Olu"
                    lastName: "Fashanu"
                  - firstName: "Brock"
                    lastName: "Bowers"
                  - firstName: "Jer Zhan"
                    lastName: "Newton"
                  - firstName: "Drake"
                    lastName: "Maye"
                  - firstName: "Jayden"
                    lastName: "Daniels"
                  - firstName: "Joe"
                    lastName: "Alt"
                  - firstName: "Dallas"
                    lastName: "Turner"
                  - firstName: "Marvin"
                    lastName: "Harrison Jr"
                  - firstName: "Malik"
                    lastName: "Nabers"
  /players/{player}/questions:
    get:
      summary: Get questions related to a selected player
      parameters:
        - in: path
          name: player
          schema:
            type: string
          required: true
          description: The name of the player
      responses:
        '200':
          description: A list of questions related to the selected player
          content:
            application/json:
              schema:
                type: object
                properties:
                  questions:
                    type: array
                    items:
                      type: object
                      properties:
                        question:
                          type: string
                        options:
                          type: array
                          items:
                            type: string
                        answer:
                          type: string
              example:
                questions: 
                  - question: "WHO SINGS CALEB WILLIAMS WARM UP SONG?"
                    options: 
                      - "JOHN LEGEND"
                      - "POST MALONE"
                      - "RIHANNA"
                      - "BRUNO MARS"
                    answer: "JOHN LEGEND"
