{
  "openapi": "3.0.0",
  "info": {
    "title": "Player and Question API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://main--aem-forms-martech--adobe-rnd.hlx.live/"
    }
  ],
  "paths": {
    "/players": {
      "get": {
        "summary": "Get player details",
        "responses": {
          "200": {
            "description": "A list of players",
            "content": {
              "application/json": {
                "schema": {
                   "$ref": "#/components/schemas/playersResponse"
                }
              }
            }
          }
        }
      }
    },
    "/players/{player}/questions": {
      "get": {
        "summary": "Get questions related to a selected player",
        "parameters": [
          {
            "in": "path",
            "name": "player",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The name of the player"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of questions related to the selected player",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/questionResponse"                  
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "questionResponse": {
        "type": "object",
        "properties": {
          "questions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "question": {
                  "type": "string"
                },
                "options": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "answer": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "playersResponse": {
        "type": "object",
        "properties": {
          "players": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "firstName": {
                  "type": "string"
                },
                "lastName": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  }
}